.cart {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;    
}

.cart__breadcrumb {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    white-space: nowrap;
    margin-top: 50px;
    margin-bottom: 36px;
}

.cart__breadcrumb a {
    text-decoration: none;
    color: var(--text-dark-blue);
}

.cart__title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    color: var(--background-dark-blue);
    margin-bottom: 25px;
}
.cart__section-title {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--background-dark-blue);
    margin-top: 50px;
    margin-bottom: 25px;
}
.cart__contact-data {
    margin-bottom: 60px;
  }
  
.cart__contact-input {
    width: 927px;
    height: 50px;
    border: 1px solid var(--background-light-blue-2);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    padding: 0 10px;
    margin-bottom: 10px;
}
.cart__payment-option {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}
.cart__icon-checked,
.cart__icon-unchecked {
    width: 25px;
    height: 25px;
    color: var(--text-dark-blue);
}
.cart__delivery-map {
    width: 927px;
    height: 297px;
    background-color: var(--background-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cart__header {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}
.cart__select-all {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart__delete-selected {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart__icon-checked,
.cart__icon-unchecked,
.cart__icon-delete {
    width: 25px;
    height: 25px;
    color: var(--text-dark-blue);   
}
.cart__items {
    display: flex;
    gap: 10px;
  }
  .cart__icon-checked,
.cart__icon-unchecked {
  width: 25px;
  height: 25px;
  color: var(--text-dark-blue);
}
.cart__item {
    display: flex;
    width: 892px;
    height: 150px;    
    border: 1px solid var(--background-light-blue-2);
    margin-right: 10px;
}
.cart__summary {
    width: 454px;
    height: 150px;
    border: 1px solid var(--background-light-blue-2);
} 
.cart__item-image {
    width: 174.57px;
    height: 150px;
}
.cart__item-details {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    width: 370px;
}  

.cart__item-name {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    margin-top: 22px;
    margin-bottom: 15px;
}
  .cart__item-article {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
}
.cart__item-price-wrapper {
    width: 70px;
}
  
  .cart__item-price {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--background-dark-blue);
    margin-top: 22px;
}
  
   
  
      