.related-products {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
}
.related-products__title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 48.41px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--background-dark-blue);
    margin-bottom: 25px;
}
.related-products__list {
    width: 1401px;
    max-height: 400px;  
    height: auto; 
    display: flex;
    gap: 20px;
}
.related-products__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 335.17px;
    max-height: 400px; 
    height: auto; 
    border: 1px solid #909090;
}
.related-products__image {
    width: 250px;
    height: 200px;
}

.related-products__name {
    Width: 250px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    margin-top: 25px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.related-products__article {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--text-dark-blue);
    margin-bottom: 18px;
}
.related-products__price {
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--background-dark-blue);
    margin-bottom: 37px;
}


.related-products-actions {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    width: 335.17px;
    height: 38px;
    gap: 0;
}
.related-products-actions__add-to-cart {
    width: 217px;
    height: 38px;
    background-color: var(--background-dark-blue);
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: none;
    cursor: pointer;
}
.related-products-actions__quantity {
    display: flex;
    width: 119.17px;
    height: 38px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;    
}
.related-products-actions__value {
    text-align: center;
    line-height: 38px;
}

.related-products-actions__button {
    width: 28px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border: 1px solid #909090;
}

.related-products-actions__value {
    width: 61px; /* Учитываем ширину кнопок и отступы */
    height: 38px;
    flex: 1;
    text-align: center;
    border: 1px solid #909090;
}

.related-products-actions__value-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
